<div class="steps">
	<div class="borderss clearfix"></div>
	<div class="borcont">

		<div ui-sref="sigleone_2" class="active" style="cursor: pointer;">
			<p></p>
			<em>基本信息</em>
			<i>1</i>
		</div>
		<div ui-sref="siglecar_2" class="active" style="cursor: pointer;">
			<p></p>
			<em>车辆信息</em>
			<i>2</i>
		</div>
		<div ui-sref="sigleins_2" class="active" style="cursor: pointer;">
			<p></p>
			<em>承保信息</em>
			<i>3</i>
		</div>
		<div ui-sref="siglebijia_2" class="active" style="cursor: pointer;">
			<p></p>
			<em>比价信息</em>
			<i>4</i>
		</div>
		<div ui-sref="sigleappli_2" class="node" style="cursor: pointer;">
			<p></p>
			<em>配送信息</em>
			<i>5</i>
		</div>
	</div>
</div>
<div class="car-box" ng-controller="comparison">
	<h2>填写详细信息</h2>
	<div class="car-cont  ">
		<h3>比价信息</h3>
		<div class="cont-right2 shous" ng-repeat="a in listd">
			<div class="cons clearfix" ng-init="findC">
				<div ng-repeat="ssa in findC | filter:a[0].insureComCode ">

					<img src="{{intUrl}}{{ssa.companyPhotoUrl}}" alt="" />
					<p style="text-align: center;">{{ssa.companyName}}</p>
					<p style="text-align: center; color: #ff704f; padding-top:.1rem;">{{a[0].msg}}</p>
				</div>
				<table border="1" cellspacing="" cellpadding=""  class="blodes">
					<tr ng-model="_orderId">
						<td rowspan="2">车辆信息</td>
						<td colspan="2"><em ng-model="_licenseNo">{{_licenseNo}}</em> <em ng-model="_modelName ">{{_modelName }}</em> <em ng-model="_frameNo ">{{_frameNo }}</em></td>

					</tr>
					<tr>
						<td>起保日期 商业险 <em ng-model="_biStartDate">{{_biStartDate}}</em> 交强险 <em ng-model="_ciStartDate">{{_ciStartDate}}</em></td>
					</tr>
					<tr class="sv">
						<td colspan="3" class="conta clearfix" >

							<div ng-model="_channelCode">{{a[0].channelCode}}</div>
							<div>
								保费
							</div>
							<div>
								<p>总保费：<em ng-model="_totalPremium">{{a[0].totalPremium|currency: "¥"}}</em></p>
								<p>交强险：<em ng-model="_ciPremium">{{a[0].ciPremium|currency: "¥"}}</em></p>
								<p>商业险：<em ng-model="_biPremium">{{a[0].biPremium|currency: "¥"}}</em></p>
							</div>
							<div>
								<div>
									<p>投保积分：<em neg-model="_Credit">{{a[0].Credit}}</em></p>
								</div>

								<div>
									<p>奖励积分:</p>

									<p ng-repeat="ste in a[0].dealCredit " ng-init="outindex=$index">

										<em ng-repeat="b in ste track by $index" ng-init="innerindex=$index"><i>{{b}}</i><i></i></em>
									</p>

								</div>
							</div>

						</td>
					</tr>
					<tr>
						<td colspan="3" style="cursor: pointer; color:#7aceff;font-size:.14rem" ng-click="tdif()">点击查看报价明细</td>
					</tr>
					<tr ng-hide="td_show" ng-int="a[0].kindList">
						<td colspan="3" class="bne">
							<div><em>险别</em><em>保额(元)</em><em>保费(元)</em></div>
							<div ng-repeat="cod in a[0].kindList  "><em>{{cod.kindCode|codelfilter}} </em><em>{{cod.amount.split(".")[0]|amountfilter}}</em><em>{{cod.premium|currency: "¥"}}</em></div>
						</td>
					</tr>

				</table>

			</div>
			<div>
				<button class="btn btn-lg  btn-block" style="width:3rem; background:#ff704f; color:#fff;height:.4rem;margin:.25rem auto;" ng-click="toubao(a,data)">立即投保</button>
			</div>
		</div>
		<div class="cont-right2 shoua">
			<div class="cons clearfix" ng-init="findC">
				
				<table border="1" cellspacing="" cellpadding="" class="blodes" >
					<tr ng-model="_orderId">
						<td rowspan="2">车辆信息</td>
						<td colspan="2"><em ng-model="_licenseNo">{{_licenseNo}}</em> <em ng-model="_modelName ">{{_modelName }}</em> <em ng-model="_frameNo ">{{_frameNo }}</em></td>

					</tr>
				</table>	
				<div id="repeats"  ng-repeat="ssa in grame">
					<div ng-repeat="ssq in findC | filter:ssa.companyCode " class="scb">

						<img src="{{intUrl}}{{ssq.companyPhotoUrl}}" alt="" />
						<p style="text-align: center;">{{ssq.companyName}}</p>
					</div>
					<table border="1" cellspacing="" cellpadding="" class="blide" >
					
					<tr>
						<td>起保日期 商业险 <em ng-model="_biStartDate">{{_biStartDate}}</em> 交强险 <em ng-model="_ciStartDate">{{_ciStartDate}}</em></td>
					</tr>
					<tr class="sv" ng-repeat="b in ssa.channel">
						<td colspan="3" class="conta clearfix" >

							<div ng-model="_channelCode">{{b.channelCode}}</div>
							<div>
								保费
							</div>
							<div>
								<p>总保费：<em ng-model="_totalPremium">{{_totalPremium|currency: "¥"}}</em></p>
								<p>交强险：<em ng-model="_ciPremium">{{_ciPremium|currency: "¥"}}</em></p>
								<p>商业险：<em ng-model="_biPremium">{{_biPremium|currency: "¥"}}</em></p>
							</div>
							<div>
								<div>
									<p>投保积分：<em neg-model="_Credit">{{_Credit}}</em></p>
								</div>

								<div>
									<p>奖励积分:</p>

									<p ng-repeat="ste in _dealCredit " ng-init="outindex=$index">

										<em ng-repeat="b in ste track by $index" ng-init="innerindex=$index"><i>{{b}}</i><i></i></em>
									</p>

								</div>
							</div>

						</td>
					</tr>
					<tr>
						<td colspan="3" style="cursor: pointer; color:#7aceff;font-size:.14rem" ng-click="tdif()">点击查看报价明细</td>
					</tr>
					<tr ng-hide="td_show" ng-int="ms" >
						<td colspan="3" class="bne">
							<div><em>险别</em><em>保额(元)</em><em>保费(元)</em></div>
							<div ng-repeat="cod in ms  "><em>{{cod.kindCode|codelfilter}} </em><em>{{cod.amount|amountfilter}}</em><em>{{cod.premium|currency: "¥"}}</em></div>
						</td>
					</tr>

				</table>
					<div >
						<button class="btn btn-lg  btn-block" ng-click="toubao(ssa,data)" style="width:3rem; background:#ff704f; color:#fff;height:.4rem;margin:.4rem auto;" >立即投保</button>
					</div>
				</div>
				
			</div>
			
		</div>
		<div class="cont-right2 one" style="display: none;">
		<div class="cons clearfix" ng-init="findC">
		<div ng-repeat="ssa in findC | filter:_insureComCode " >
			
			<img src="{{intUrl}}{{ssa.companyPhotoUrl}}" alt="" />
			<p style="text-align: center;">{{ssa.companyName}}</p>
		</div>
		<table border="1" cellspacing="" cellpadding="">
			<tr ng-model="_orderId">
				<td rowspan="2">车辆信息</td>
				<td colspan="2"><em ng-model="_licenseNo">{{_licenseNo}}</em>  <em ng-model="_modelName ">{{_modelName }}</em>  <em ng-model="_frameNo ">{{_frameNo }}</em></td>
				
			</tr>
			<tr><td>起保日期  商业险  <em ng-model="_biStartDate">{{_biStartDate}}</em>  交强险 <em ng-model="_ciStartDate">{{_ciStartDate}}</em></td></tr>
			<tr class="sv">
				<td colspan="3" class="conta clearfix" >
				
					<div  ng-model="_channelCode">{{_channelCode}}</div>
					<div >
						保费
					</div>
					<div>
						<p>总保费：<em ng-model="_totalPremium">{{_totalPremium|currency: "¥"}}</em></p>
						<p>交强险：<em ng-model="_ciPremium">{{_ciPremium|currency: "¥"}}</em></p>
						<p>商业险：<em ng-model="_biPremium">{{_biPremium|currency: "¥"}}</em></p>
					</div>
					<div >
						<div><p>投保积分：<em neg-model="_Credit">{{_Credit}}</em></p></div>
						
						<div><p>奖励积分:</p>
					
								<p ng-repeat="ste in _dealCredit " ng-init="outindex=$index" >
									
								<em ng-repeat ="b in ste track by $index" ng-init="innerindex=$index"><i>{{b}}</i><i></i></em>
								</p>
							
							
						</div>
					</div>
					
				</td>
			</tr>
			<tr>
				<td colspan="3" style="cursor: pointer; color:#7aceff;font-size:.14rem" ng-click="tdif()">点击查看报价明细</td>
			</tr>
			<tr ng-hide="td_show" ng-int="ms">
				<td colspan="3" class="bne">
					<div><em>险别</em><em>保额(元)</em><em>保费(元)</em></div>
					<div ng-repeat="cod in ms  "><em>{{cod.kindCode|codelfilter}} </em><em>{{cod.amount.split(".")[0]|amountfilter}}</em><em>{{cod.premium|currency: "¥"}}</em></div>
				</td>
			</tr>
			
		</table>
		
		</div>
		<div class="scs" >
			
		</div>
	</div>
	
		<div class="cont-left">
			<div class="le-cont" ng-click="phone_tag()">
				<img src="./img/phone.png" />

			</div>
			<ul ng-hide="phone_show">
				<li>订单号：<em></em></li>
				<li>客户姓名：<em></em></li>
				<li>车牌号：</li>

				<li>手机号：<input type="tel" ng-model="number" placeholder="123456788" vlue="112345678" /></li>
				<li>电话号：<em></em></li>
				<li>结束码：</li>
				<li><button class="active">拨打</button><button>挂断</button></li>
			</ul>

		</div>
		<div class="flogbox">
	<div id="flog">
		<div class="titles">点点云服</div>
	<div>
		<em class="texta">
			车辆信息不全
		</em>
	</div>
	<p ng-click="sures()">确定</p>
	</div>
</div>
	</div>

